h1 {
	font-size: 84pt;
	font-family: 'Share', cursive;
	line-height: 86%;
	letter-spacing: -5px;
}

p {
	font-size: 11pt;
	font-family: Courier New;
	color: #797979;
	line-height: 1.5em;
	width: 650px;
	margin-bottom: 30px;
}

.container {
	margin: 0 auto;
	max-width: 800px;
}

	ul {
		margin: 0;
		padding: 0;
		font-size: 11pt;
		font-family: Courier New;
		color: #797979;
		margin-top: 40px;
	}

	li {
		display: inline;
		margin-right: 15px
	}

a:link {
	color:#ff3300;
}
